NEXT_PUBLIC_SUPABASE_URL=https://twwippogjcwajupqogxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3d2lwcG9namN3YWp1cHFvZ3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyMzA0OTUsImV4cCI6MjA3ODgwNjQ5NX0.aO1vuyXT252ElKa1P8XRBN0_8m6HpF01IlaEETIdgUc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3d2lwcG9namN3YWp1cHFvZ3h4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzIzMDQ5NSwiZXhwIjoyMDc4ODA2NDk1fQ.Sw8uE92jnLV12iRQnvdCoR4270F9CHovaSBcZyFaeuU
